$primary: #e99000; /* - Orange (For top banner) */
$secondary: #ffbc0d; /* - Yellow */
$darkNavy: #2d343e; /* - Dark Navy  */
$grey: #dadada; /* - Grey */
$darkerGrey: #d7d7d7; /* - Darker Grey */
$green: #75d600; /* - Green (arrow of Incoming call) */
$orange: #fe6a12; /* - Orange (arrow of Kosmos call) */
$light: #e7e7e7;